.currentConditions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainConditions {
  align-items: center;
  display: flex;
  flex: 0 0 60%;
}

.mainConditionsIcon {
  display: inline-flex;
}

.mainConditionsTemp {
  flex-grow: 1;
  margin-left: 1em;
}

.conditionsDescription {
  flex-basis: 26%;
  font-size: 1.1em;
  font-weight: 600;
}

.conditionsOther {
  flex-basis: 14%;
  font-size: 1em;
}
