.dailyForecast {
  align-items: flex-start;
  display: flex;
  padding: .4em 0;
}

.hourlyForecast {
  flex-basis: calc(100% / 8);
  margin-bottom: auto;
  margin-top: auto;
}

.futureForecast {
  opacity: .7;
}
