@value s-screen-width from "../../variables.css";

.extendedForecast {
  align-items: center;
  display: flex;
  padding-left: 1ch;
  padding-right: 1ch;
}

.extendedForecastDescription {
  flex-basis: 55%;

  @media s-screen-width {
    & {
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}

.extendedForecastConditionsDescription {
  @media s-screen-width {
    & {
      display: none;
    }
  }
}

.extendedForecastTimeDescription,
.extendedForecastWindSpeed {
  font-weight: 500;
}

.extendedForecastIcon {
  flex-basis: 15%;
  display: inline-flex;
}

.extendedForecastTemp {
  flex-basis: 15%;
  font-size: 1.6em;
  text-align: right;
}

.extendedForecastDescription,
.extendedForecastIcon,
.extendedForecastTemp {
  @media s-screen-width {
    & {
      flex-basis: auto;
    }
  }
}

.extendedForecastWind {
  flex-basis: 15%;
  text-align: right;

  @media s-screen-width {
    & {
      display: none;
    }
  }
}
