@import "../../variables.css";

@value s-screen-width from "../../variables.css";

.tempRange {
  font-size: 3em;
  line-height: 1;
}

.tempEdge {
  opacity: .6;
  font-size: .6em;

  @media s-screen-width {
    & {
      display: none;
    }
  }
}

.minTemp {
  color: #008;
  margin-right: var(--min-max-temperature-margin);
}

.minTemp::before {
  color: currentColor;
  content: '↓';
}

.maxTemp {
  color: #800;
  margin-left: var(--min-max-temperature-margin);
}

.maxTemp::after {
  color: currentColor;
  content: '↑';
}
