@import "../../variables.css";

.weatherIcon {
  max-width: var(--weather-icon-size);
  max-height: var(--weather-icon-size);
}

.weatherIcon:hover {
  animation: pulse 700ms linear 0s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
