
/* 
not sure how base dimensions are computed,
sWidth and sHeight are my 1x1 widget size.
multiply them by a random grow factor (120%)
*/
@value growFactor: 1.2;

@value sWidth: 178px;
@value mWidth: 372px;
@value sHeight: 144px;
@value mHeight: 304px;

/* Media queries */
@value s-screen-width: (max-width: calc(sWidth * growFactor));
@value m-screen-width: (calc(sWidth * growFactor) < width <= calc(mWidth * growFactor));
@value s-screen-height: (max-height: calc(sHeight * growFactor));
@value m-screen-height: (calc(sHeight * growFactor) < height <= calc(mHeight * growFactor));

:root {
  --header-margin: 1.4em;
  --footer-margin: 1.6em;
  --min-max-temperature-margin: 5px;
  --weather-icon-size: 50px;
  --forecast-icon-size: 2.8em;
}
